@model IEnumerable<LibApp.Models.Book>

@{
    ViewBag.Title = "Books";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager

<h2>Books</h2>

<p>
    <a class="btn btn-primary" asp-action="New">New book</a>
</p>

<table id="books" class="table table-hover">
    <thead>
        <tr>
            <th>Book</th>
            <th colspan="2">Genre</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@section Scripts
{
    <script>
        $(document).ready(function () {
            $("#books").DataTable({
                ajax: {
                    url: "api/books",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name",
                        render: function (data, type, book) {
                            return "<a href='books/edit/" + book.id + "'>" + book.name + "</a>";
                        }
                    },
                    {
                        data: "genre.name"
                    },
                    {
                        data: "id",
                        render: function (data) {
                            let delete = "<button class='btn btn-secondary js-delete' data-book-id=" + data + ">Delete</button>"
                            let details = "<a href='books/details/" + data + "'/>"
                            @if(User.IsInRole("Administrator"))
                             {
                                <text>return delete + details</text>;
                             }
                             else
                             {
                                <text>return details</text>;
                             }
                        }
                    }
                ]
            });
        });
    </script>

    <script>
        $(document).ready(function () {
            var table = $("#books").DataTable();
            $("#books").on("click", ".js-delete", function () {
                var button = $(this);
                bootbox.confirm({
                    title: "Delete book",
                    message: "Confirm book deletion?",
                    buttons: {
                        cancel: {
                            label: '<i class="fa fa-times"></i> Cancel'
                        },
                        confirm: {
                            label: '<i class="fa fa-check"></i> Confirm'
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            $.ajax({
                                url: "api/books/" + button.attr("data-book-id"),
                                method: "DELETE",
                                success: function () {
                                    table.row(button.parents("tr")).remove().draw();
                                }
                            });
                        }
                    }
                });
            });
        });
    </script>
}