@model IEnumerable<LibApp.Models.Book>

@{
    ViewBag.Title = "Books";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Books</h2>

<table class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>Book</th>
        <th colspan="2">Genre</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var book in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => book.Name)</td>
            <td>@Html.DisplayFor(modelItem => book.Genre.Name)</td>
            <td><a asp-action="Details" asp-route-id="@book.Id">Details</a></td>

        </tr>
    }
    </tbody>
</table>