@{ 
    ViewBag.Title = "New Rental";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Rental</h2>

<form id="newRental">
    <div class="form-group">
        <label>Customer</label>
        <div class="tt-container">
            <input id="customer" type="text" required data-rule-validCustomer="true" value="" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label>Book</label>
        <div class="tt-container">
            <input id="book" type="text" value="" class="form-control" />
        </div>
    </div>

    <ul id="books" class="list-group col-4"></ul>

    <button class="btn btn-primary">Submit</button>
</form>

@section Scripts {
    <script>

        $(document).ready(function () {
            var formData = {
                customerId: 0,
                bookIds: []
            };

            var customers = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: {
                    url: '/api/customers?query=%QUERY',
                    wildcard: '%QUERY'
                }
            });

            $('#customer').typeahead(
                {
                    minLenght: 3,
                    highlight: true
                },
                {
                name: 'customers',
                display: 'name',
                source: customers
                }).on("typeahead:select", function (e, customer) {
                    formData.customerId = customer.id;
                });

            var books = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: {
                    url: '/api/books?query=%QUERY',
                    wildcard: '%QUERY'
                }
            });

            $('#book').typeahead(
                {
                    minLenght: 3,
                    highlight: true
                },
                {
                    name: 'books',
                    display: 'name',
                    source: books
                }).on("typeahead:select", function (e, book) {
                    formData.bookIds.push(book.id);
                    $('#book').typeahead("val", "");
                    $('#books').append("<li class='list-group-item'>" + book.name + "</li>");
                });

            $.validator.addMethod("validCustomer", function () {
                return formData.customerId && formData.customerId !== 0;
            }, "Please select a valid customer");

            var validator = $("#newRental").validate({
                submitHandler: function () {
                    $.ajax({
                        url: "/api/newRentals/",
                        type: "POST",
                        contentType: "application/json;charset=utf-8",
                        dataType: "html"
                    }).done(function () {
                        toastr.success("Rental successfully added");
                        $('#customer').typeahead("val", "");
                        $('#book').typeahead("val", "");
                        $('#books').empty();
                        formData = {
                            customerId: 0,
                            bookIds: []
                        };
                        validator.resetForm();
                    }).fail(function () {
                        toastr.success("Rental failed");
                    });
                    return false;
                }
            });
        });
    </script>
}